/* Variables */
/* Universals */
.row {
  box-sizing: border-box; }

* {
  color: #313131;
  font-family: 'Open Sans'; }

h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: medium; }

h2 {
  font-weight: bold; }

h4, h5, h6, p {
  font-family: 'Open Sans'; }

h6 {
  font-size: 2em; }

h4 {
  margin-bottom: 0; }

p {
  margin-top: 0em; }

a {
  text-decoration: underline;
  font-family: 'Open Sans';
  color: #EA4FBF;
  font-weight: 'bold';
  text-align: left;
  margin: 0;
  text-transform: uppercase; }

.btn {
  border: none;
  background-color: #294B6B;
  color: white;
  font-weight: medium;
  font-family: 'Open Sans'; }
  .btn:hover {
    background-color: #313131; }
  .btn i {
    color: #fff; }

/* Specific Styling */
/*globalnav*/
.site-nav {
  display: inline;
  float: right; }

.links {
  padding-right: 2em; }

@media screen and (max-width: 768px) {
  .site-nav {
    display: none;
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid white;
    border-radius: 5px;
    text-align: right;
    padding: 10px 16px;
    float: right;
    line-height: 55px;
    padding: 8.8px 0; } }
.header-wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 5px #ea6036;
  display: block;
  box-sizing: border-box; }
  .header-wrapper .logoandlink {
    float: left;
    display: block;
    padding-top: 1em; }
    .header-wrapper .logoandlink img {
      height: 2em; }
    .header-wrapper .logoandlink .site-title {
      font-size: 2em;
      margin-top: 2em;
      text-decoration: none; }
      .header-wrapper .logoandlink .site-title .site-title-text {
        font-family: raleway;
        color: #5D5D5D;
        text-decoration: none; }
        .header-wrapper .logoandlink .site-title .site-title-text:hover {
          color: #ea6036; }
  .header-wrapper .links {
    display: block;
    padding-top: 2em;
    float: right; }
    .header-wrapper .links .page-link {
      margin-left: 0.5em;
      text-decoration: none;
      color: #2d2d2d; }
      .header-wrapper .links .page-link:hover {
        color: #ea6036;
        border-bottom: solid 1px #ea6036; }

/* Nav */
.header a {
  text-align: left;
  margin: 0;
  color: #313131;
  text-decoration: none;
  border-bottom: solid 1px #EA4FBF; }
  .header a:hover {
    border-bottom: solid 2px #EA4FBF; }
.header .headerwrapper {
  border-bottom: solid 3px #294B6B;
  margin: 0em 0.5em; }
.header .logo {
  height: 6em;
  padding: 1em 0; }
.header .logolink {
  width: 20%;
  max-width: 80px;
  float: left;
  text-decoration: none;
  border-bottom: none; }
  .header .logolink:hover {
    border-bottom: none; }
.header .title {
  margin-top: 0em;
  border-bottom: none; }
.header .title-wrapper h1 {
  float: left; }
.header .title-wrapper .login {
  float: right; }
.header .nav-wrapper {
  float: left;
  width: 80%; }
.header ul.subnav {
  text-align: left;
  float: left;
  margin: 0;
  padding: 0; }
  .header ul.subnav li {
    float: left; }
    .header ul.subnav li:first-child {
      margin-left: 0; }
.header #navlink {
  float: left;
  color: #313131; }
.header .login {
  float: right; }
.header .nav-active {
  font-weight: bold; }
.header .navbar {
  border: none; }
.header .navbar-brand {
  padding-left: 0;
  margin-left: 0; }
.header li {
  float: left;
  margin-left: 0.5em;
  list-style-type: none;
  text-transform: uppercase; }
.header ul {
  list-style-type: none; }
.header a.loginbutton {
  color: #B8B9B6;
  padding: 0.15em 1em;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 0.25em;
  border: none;
  float: right; }
  .header a.loginbutton i {
    float: none; }
.header .navbar-right li {
  float: right; }
.header .nav > li > a:hover {
  background-color: #B8B9B6;
  color: white;
  font-weight: normal; }

/* Welcome page */
.welcome .intro {
  background-color: #EDEFF3;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center; }
.welcome .description p {
  text-align: center; }
.welcome h4.descrip {
  margin-bottom: 2em;
  font-size: 1.0em; }
.welcome .btn {
  height: auto;
  width: auto; }
.welcome a.gotoportal {
  background-color: #EA4FBF;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  margin-bottom: 2em; }
  .welcome a.gotoportal:hover {
    background-color: #313131; }
.welcome .thing h4 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.25em; }
.welcome .thing p {
  margin: 0 auto;
  max-width: 120px; }
.welcome .firstbutton {
  margin-top: 2em;
  float: right; }
.welcome .getstarted {
  overflow: hidden;
  text-align: center;
  background-color: #EDEFF3;
  padding: 2em 0em; }
  .welcome .getstarted a {
    background-color: #EA4FBF;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    margin-bottom: 2em; }
    .welcome .getstarted a:hover {
      background-color: #313131; }
.welcome .center {
  margin: 0 auto;
  text-align: center; }
.welcome .center a {
  margin: 0 auto;
  text-align: center; }
.welcome .viewmoreexamples {
  margin-bottom: 5em; }
  .welcome .viewmoreexamples a {
    color: #313131;
    font-weight: bold; }
.welcome .backtotop {
  background-color: #294B6B;
  margin: 2em auto; }
  .welcome .backtotop h3, .welcome .backtotop i {
    color: white;
    text-align: center; }

/* Datasets page */
.adddiv {
  padding-top: 1.5em; }

a.add-dataset {
  float: right;
  color: #313131;
  border-radius: 2px;
  padding: 0.5em 1em;
  border: solid 2px #294B6B;
  text-decoration: none; }
  a.add-dataset:hover {
    background-color: #B8B9B6; }

.search {
  margin: 1em auto; }

.browse {
  margin-top: 1em; }

.browsetext {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em; }

a.browseselect {
  border-radius: 2px;
  color: white;
  padding: 0.5em 1em;
  background-color: #294B6B;
  text-decoration: none;
  margin-bottom: 2em; }
  a.browseselect:hover {
    background-color: #313131; }

.browsedropdown {
  display: block;
  float: left;
  background-color: #294B6B;
  font-size: 1.25em;
  border: none;
  color: white;
  font-weight: normal;
  padding: 0.35em 1em;
  border-radius: 2px; }
  .browsedropdown:hover {
    background-color: #313131; }
  .browsedropdown .caret {
    color: white; }

.categorydropdownrow {
  margin-top: 0em; }

.categorydropdown {
  height: 1em;
  margin-top: 0em;
  display: block;
  display: inline;
  float: none;
  margin-left: 0; }

.category {
  width: 80%;
  margin: 0em 2em;
  background-color: #EDEFF3;
  border-radius: 2px;
  padding: 0.25em 1em; }

.innerdropdown {
  display: inline; }
  .innerdropdown a {
    text-align: left;
    float: left; }
    .innerdropdown a:hover {
      background-color: #EDEFF3; }
  .innerdropdown p {
    float: left;
    text-align: left; }

a.innerdropdown {
  text-align: left;
  padding: 0.20em; }

.icon {
  width: 2em;
  margin: 0 1em; }

.exampletile {
  margin-bottom: 1em; }

.examples {
  padding-top: 1em; }

.contributors .dropdown button {
  width: 80%;
  text-align: left;
  background-color: #EDEFF3;
  color: #313131;
  font-weight: normal;
  font-size: 1em; }
.contributors ul {
  text-align: left;
  padding: 1em; }
  .contributors ul a {
    float: left;
    text-align: left;
    color: #313131;
    width: 100%;
    text-decoration: none; }

.contributors {
  margin-top: 2em;
  display: none; }

.categories, .thumbs-wrapper, .thumbsupmessage, .thumbsdownmessage {
  display: none; }

.active {
  display: block; }

.subcategories {
  display: none; }
  .subcategories ul {
    list-style-type: none; }
  .subcategories li {
    padding: 0; }
    .subcategories li:first-child {
      margin-left: 0; }

.excategory img {
  width: 2em;
  margin: 0 1em; }

.exsubcategories {
  background-color: #EDEFF3;
  display: none;
  width: 80%;
  margin-left: 2em; }
  .exsubcategories ul {
    list-style-type: none; }
  .exsubcategories li {
    padding: 0.5em;
    padding: 0; }
    .exsubcategories li a {
      text-decoration: none;
      color: #313131; }
    .exsubcategories li:first-child {
      margin-left: 0; }
    .exsubcategories li:hover {
      background-color: #B8B9B6; }

.subcat {
  background-color: #EDEFF3;
  text-decoration: none;
  text-transform: none;
  padding: 0.5em; }
  .subcat:hover {
    background-color: #B8B9B6; }

/* datasets */
.dataset-wrapper {
  display: block;
  margin-bottom: 1em; }

.score h1 {
  margin-top: 0;
  padding: 0.75em 0.5em;
  color: #313131;
  background-color: #91C565;
  border-radius: 2px; }

.ratings {
  color: #313131;
  padding: 0.5em 1em 0.25em 1em;
  border-radius: 2px;
  background-color: #313131; }

.projects {
  margin-top: 0.5em;
  color: #313131;
  padding: 0.5em 1em 0.25em 1em;
  border-radius: 2px;
  background-color: #313131; }

.exampledataset h4 {
  margin-right: 0.25em;
  color: #313131;
  padding: 0.05em;
  margin-top: 0;
  text-align: center;
  float: left; }

.ratings p {
  color: #313131; }

.exampletitlelink h3 {
  text-decoration: underline; }

.fa-file-pdf-o {
  margin-right: 0.25em; }

.exampletile {
  background-color: #EDEFF3;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em; }
  .exampletile a {
    color: #313131; }
    .exampletile a:hover h3 {
      font-weight: bold; }
  .exampletile h1 {
    text-align: center;
    color: white;
    font-weight: bold; }
  .exampletile .ratings p {
    text-align: center;
    font-size: 1em;
    color: white; }
  .exampletile .projects p {
    font-size: 1em;
    text-align: center;
    color: white; }

/* dataset page */
.topsection {
  background-color: #EDEFF3;
  padding: 1em;
  margin-top: 1em; }
  .topsection a {
    color: #EA4FBF;
    font-weight: bold; }
  .topsection #datasetexampletile {
    padding: 0;
    margin-bottom: 1em; }
  .topsection .edit {
    float: right;
    padding: 0.25em 1em;
    margin: 2em auto 1em auto;
    display: inline-block;
    color: #313131;
    border: solid 2px #294B6B;
    border-radius: 2px;
    text-decoration: none; }
    .topsection .edit:hover {
      background-color: #B8B9B6; }
    .topsection .edit h4 {
      text-transform: lowercase;
      padding: 0;
      margin: 0 auto;
      border-radius: 2px;
      text-align: center;
      display: inline; }
  .topsection a.contributedby {
    margin-left: 0.5em; }
  .topsection .iveused h4 {
    margin-top: 1em;
    text-transform: none;
    background-color: #294B6B;
    color: white;
    padding: 0.5em;
    border-radius: 2px;
    float: left;
    display: inline; }
    .topsection .iveused h4:hover {
      background-color: #313131; }
  .topsection .howrate {
    margin-top: 1em; }
  .topsection .fa-thumbs-up {
    margin-right: 0.5em;
    color: #91C565; }
  .topsection .fa-thumbs-down {
    color: #B02727; }
  .topsection .rate h1 {
    text-align: left; }
  .topsection .datafiles {
    padding: 0 0em 1em 1em;
    float: left;
    max-width: 28em;
    margin-bottom: 1em; }
    .topsection .datafiles i {
      font-size: 1.5em;
      margin-right: 0.25em; }
    .topsection .datafiles a.filelink {
      border: solid 2px #294B6B;
      text-align: left;
      margin-bottom: 0em;
      padding: 0 0.5em;
      border-radius: 2px;
      width: 100%;
      display: block;
      text-decoration: none; }
      .topsection .datafiles a.filelink:hover {
        background-color: #B8B9B6; }
    .topsection .datafiles .filewrapper {
      margin-top: 0em;
      margin-bottom: 1em; }
    .topsection .datafiles h4 {
      text-transform: uppercase; }
    .topsection .datafiles ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
  .topsection table {
    color: #313131;
    background-color: white; }
  .topsection th {
    font-weight: normal; }

.additional h4 {
  text-transform: uppercase; }

.additional {
  padding: 0 1em 1em 1em;
  float: left;
  margin-bottom: 1em; }

.example {
  height: 12em;
  margin-bottom: 1em;
  margin-top: 1em; }

.exampleimage img {
  float: left;
  width: 100%;
  max-height: 12em; }

h4 {
  margin-bottom: 1em; }

.exampledataset span {
  color: white; }

.add {
  float: right;
  padding: 0.25em 1em;
  margin: 2em auto 1em auto;
  display: inline-block;
  color: #313131;
  border: solid 2px #294B6B;
  border-radius: 2px;
  text-decoration: none; }
  .add:hover {
    text-decoration: none;
    background-color: #B8B9B6; }
  .add h4 {
    text-transform: lowercase;
    padding: 0;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
    display: inline; }

/* add dataset page */
.addl {
  margin-top: 2em; }

#save {
  float: right;
  margin-bottom: 2em; }

.addl a {
  display: block;
  float: right; }

input[type=text] {
  background-color: #EDEFF3; }

textarea[class="form-control"] {
  background-color: #EDEFF3; }

select[class="form-control"] {
  background-color: #EDEFF3; }

/* Resource Page */
.resourceintro {
  margin-top: 1em;
  background-color: #EDEFF3;
  padding: 1em; }

.exampleimage {
  float: left;
  width: 100%; }

.question {
  padding: 1em; }
  .question h3 {
    text-align: center; }

p.resourceanswer {
  padding: 1em;
  background-color: #EDEFF3;
  width: 100%;
  float: none; }

/* contributor page */
.editcol .edit {
  float: right;
  padding: 0.25em 1em;
  margin: 2em auto 1em auto;
  display: inline-block;
  color: #313131;
  border: solid 2px #294B6B;
  border-radius: 2px;
  text-decoration: none; }
  .editcol .edit:hover {
    background-color: #B8B9B6; }
  .editcol .edit h4 {
    text-transform: lowercase;
    padding: 0;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
    display: inline; }

.description a {
  text-decoration: none;
  max-width: 80%; }

.orgexample {
  margin-top: 1em;
  width: 100%; }

.orgsearch input {
  margin-bottom: 1em; }

.exmpl {
  margin-top: 1em; }

.orgsearch {
  clear: both; }

.project {
  margin-top: 1em; }

/* Preset */
.organization-thumbnail img {
  width: 64px; }

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.resource-description {
  font-size: 90%; }

.select2 {
  margin-bottom: 10px; }

.datasets-count {
  display: inline-block; }

.add-dataset-btn {
  margin-top: 15px; }

/* Hidden from guests */
.user-issue,
.admin-only {
  display: none; }

.resource-details,
.show-resource-details {
  display: none; }

.show-resource-details {
  font-size: 80%; }

.user-issue {
  color: red; }

[data-component~=view-switcher] [data-hook~=view] {
  display: none; }

.homepage-categories,
.theme-gallery {
  text-align: justify; }

/* allows last line of categories to be justify aligned */
.homepage-categories:after,
.theme-gallery:after {
  display: inline-block;
  width: 100%;
  content: ''; }

.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px; }

.homepage-categories .thumbnail img {
  height: 80px; }

.homepage-categories a {
  color: #CD4BBC; }

.theme-gallery .panel {
  display: inline-block;
  max-width: 250px;
  text-align: center; }

.theme-gallery .panel img {
  width: 100%; }

.theme-gallery .panel-primary {
  border-width: 5px; }

/*# sourceMappingURL=main.css.map */
