/* Variables */

$text-color: #313131;
$background-color: #EDEFF3;
$cta-color: #EA4FBF;
$databutton-color: #294B6B;
$score-green: #91C565;
$grey-color: #B8B9B6;


/* Universals */

.row {
  box-sizing: border-box;
}

  * {
    color: $text-color;
    font-family: 'Open Sans';
  }

  h1, h2, h3 {
    font-family: 'Raleway';
    font-weight: medium;
  }

  h4, h5, h6, p {
    font-family: 'Open Sans';
  }

  h6 {
    font-size: 2em;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0em;
  }

  a {
    text-decoration: underline;
    font-family: 'Open Sans';
    color: $cta-color;
    font-weight: 'bold';
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    }

  .btn {
    border: none;
    background-color: $databutton-color;
    color: white;
    font-weight: medium;
    font-family: 'Open Sans';
    &:hover {
      background-color: $text-color;
    }
    i {
      color: #fff;
    }
  }


/* Specific Styling */

/*globalnav*/

.site-nav {
  display: inline;
  float: right;
}

@media screen and (max-width: 768px){

.site-nav {
    display: none;
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid white;
    border-radius: 5px;
    text-align: right;
    padding: 10px 16px;
    float: right;
    line-height: 55px;
    padding: 8.8px 0;
  }
}


.header-wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 5px #ea6036;
  display: block;
  box-sizing: border-box;
  .logoandlink {
    float: left;
    display: block;
    padding-top: 1em;
    img {
      height: 2em;
    }
    .site-title {
      font-size: 2em;
      margin-top: 2em;
      text-decoration: none;
      .site-title-text {
        font-family: raleway;
        color: #5D5D5D;
        text-decoration: none;
        &:hover {
          color: #ea6036;
        }
      }
    }
  }
  .links {
    display: block;
    padding-top: 2em;
    float: right;
    .page-link {
      margin-left: 0.5em;
      text-decoration: none;
      color: #2d2d2d;
       &:hover {
          color: #ea6036;
          border-bottom: solid 1px #ea6036; 
        }
    }
  }
}

  /* Nav */

.header {
  a {
    text-align: left;
    margin: 0;
    color: $text-color;
    text-decoration: none;
    border-bottom: solid 1px $cta-color;
    &:hover {
    border-bottom: solid 2px $cta-color;
    }
  }

  .headerwrapper {
      border-bottom: solid 3px $databutton-color;
      margin: 0em 0.5em;
    }

    .logo {
      height: 6em;
      padding: 1em 0;
    }

   .logolink {
      width: 20%;
      max-width: 80px;
      float: left;
      text-decoration: none;
      border-bottom: none;
      &:hover{
      border-bottom: none;
      }
      }

    .title {
      margin-top: 0em;
      border-bottom: none;
    }

    .title-wrapper {
      overflow: hidden;
      h1 {
        float: left;
      }
      .login {
        float: right;
      }
    }

    .nav-wrapper {
      float: left;
      width: 80%;
    }

    ul.subnav {
      text-align: left;
      float: left;
      margin: 0;
      padding: 0;
      li {
        float: left;
        &:first-child {
          margin-left: 0;
      }
      }
    }

   #navlink {
      float: left;
      color: $text-color;
    }

    .login {
      float: right;
    }

    .nav-active {
      font-weight: bold;
    }

    .navbar {
      border: none;
    }

    .navbar-brand {
      padding-left: 0;
      margin-left: 0;
    }

    li {
      float: left;
      margin-left: 0.5em;
      list-style-type: none;
      text-transform: uppercase;
      }


    ul {
      list-style-type: none;
    }

    a.loginbutton {
      color: $grey-color;
      padding: 0.15em 1em;
      border-radius: 2px;
      text-decoration: none;
      margin-top: 0.25em;
      border: none;
      float: right;
      i {
        float: none;
      }
    }

    .navbar-right {
      li {
        float: right;
      }
    }

    .nav>li>a:hover {
      background-color: $grey-color;
      color: white;
      font-weight: normal;
    }

}

/* Welcome page */

.welcome {

  .intro {
    background-color: $background-color;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }

      .description p {
      text-align: center;
    }

  h4.descrip {
    margin-bottom: 2em;
    font-size: 1.0em;
  }

  .btn {
    height: auto;
    width: auto;
  }

  a.gotoportal {
      background-color: $cta-color;
      padding: 0.5em;
      color: white;
      text-decoration: none;
      border-radius: 2px;
      margin-bottom: 2em;
      &:hover {
      background-color: $text-color;
    }
  }

  .thing {
    h4 {
      font-weight: bold;
      margin-bottom: 0;
      font-size: 1.25em;
    }
    p {
      margin: 0 auto;
      max-width: 120px;
    }
  }

.firstbutton {
    margin-top: 2em;
    float: right;
  }

  .getstarted {
    overflow: hidden;
    text-align: center;
    background-color: $background-color;
    padding: 2em 0em;
    a {
      background-color: $cta-color;
      padding: 0.5em;
      color: white;
      text-decoration: none;
      border-radius: 2px;
      margin-bottom: 2em;
      &:hover {
      background-color: $text-color;
    }
    }
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  .center a {
    margin: 0 auto;
    text-align: center;
  }
  .viewmoreexamples {
    a {
      color: $text-color;
      font-weight: bold;
    }
    margin-bottom: 5em;
  }
  .backtotop {
    background-color: $databutton-color;
    margin: 2em auto;
    h3, i {
      color: white;
    text-align: center;
    }
  }

}

/* Datasets page */

.adddiv {
  padding-top: 1.5em;
}

a.add-dataset {
  float: right;
  color: $text-color;
    border-radius: 2px;
    padding: 0.5em 1em;
    border: solid 2px $databutton-color;
    &:hover {
      background-color: $grey-color;
    }
    text-decoration: none;
}

.search {
  margin-top: 1em;
}

.browse {
  margin-top: 1em;
}

.browsetext {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

a.browseselect {
  border-radius: 2px;
    color: white;
    padding: 0.5em 1em;
    background-color: $databutton-color;
    &:hover {
      background-color: $text-color;
    }
    text-decoration: none;
  margin-bottom: 2em;
}

.browsedropdown {
  display: block;
  float: left;
  background-color: $databutton-color;
  &:hover {
      background-color: $text-color;
    }
  font-size: 1.25em;
  border: none;
  color: white;
  font-weight: normal;
  padding: 0.35em 1em;
  border-radius: 2px;
  .caret {
    color: white;
  }
}

.categorydropdownrow {
  margin-top: 0em;
}

.categorydropdown {
  height: 1em;
  margin-top: 0em;
  display: block;
  display: inline;
  float: none;
  margin-left: 0;
}

.category {
width: 80%;
margin: 0em 2em;
 background-color: $background-color;
 border-radius: 2px;
 padding: 0.25em 1em;
}

.innerdropdown {
  a {
    text-align: left;
    float: left;
      &:hover {
      background-color: $background-color;
    }
  }
  display: inline;
  p {
    float: left;
    text-align: left;
  }
}

a.innerdropdown {
 text-align: left;
 padding: 0.20em;
}

.icon {
  width: 2em;
  margin: 0 1em;
}

.exampletile {
  margin-bottom: 1em;
}

.examples {
  padding-top: 1em;
}

.contributors {
    .dropdown button {
      width: 80%;
      text-align: left;
      background-color: $background-color;
      color: $text-color;
      font-weight: normal;

      font-size: 1em;
    }
  ul {
    text-align: left;
    padding: 1em;
    a {
      float: left;
      text-align: left;
      color: $text-color;
      width: 100%;
      text-decoration: none;
    }
  }
}


.contributors {
  margin-top: 2em;
  display: none;
}
.categories, .thumbs-wrapper, .thumbsupmessage, .thumbsdownmessage {
  display: none;
}
.active {
  display: block;
}

.subcategories {
  display: none;
  ul {  list-style-type: none;
  }
  li {
    &:first-child{ margin-left: 0;}
    padding: 0;
  }
}

.excategory {
    img {
    width: 2em;
    margin: 0 1em;
  }
}

  .exsubcategories {
    background-color: $background-color;
    display: none;
    width: 80%;
    margin-left: 2em;
    ul {
      list-style-type: none;
    }
    li {
      padding: 0.5em;
      a {
        text-decoration: none;
        color: $text-color;
      }
      &:first-child{ margin-left: 0;}
      padding: 0;
       &:hover {
      background-color: $grey-color;
    }
  }
}

.subcat {
  background-color: $background-color;
  text-decoration: none;
  text-transform: none;
  padding: 0.5em;
  &:hover {
    background-color: $grey-color;
  }
}

/* datasets */

.dataset-wrapper {
  display: block;
  margin-bottom: 1em;
}

.score h1 {
  margin-top: 0;
  padding: 0.75em 0.5em;
  color: $text-color;
  background-color: $score-green;
  border-radius: 2px;
}

.ratings {
  color: $text-color;
  padding: 0.5em 1em 0.25em 1em;
  border-radius: 2px;
  background-color: $text-color;
}

.projects {
  margin-top: 0.5em;
  color: $text-color;
  padding: 0.5em 1em 0.25em 1em;
 border-radius: 2px;
  background-color: $text-color;
}

.exampledataset h4 {
  margin-right: 0.25em;
  color: $text-color;
  padding: 0.05em;
  margin-top: 0;
  text-align: center;
  float: left;
}

.ratings p {
  color: $text-color;
}

.exampletitlelink h3 {
  text-decoration: underline;
}

.fa-file-pdf-o {
  margin-right: 0.25em;
}

.exampletile {
  a {
    color: $text-color;
    &:hover h3 {font-weight: bold;}
  }
  background-color: $background-color;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
    h1 {
      text-align: center;
      color: white;
      font-weight: bold;
    }
  .ratings p {
      text-align: center;
      font-size: 1em;
      color: white;
  }
  .projects p {
    font-size: 1em;
    text-align: center;
    color: white;
  }
}

/* dataset page */


.topsection {
  background-color: $background-color;
  padding: 1em;
  margin-top: 1em;
  a {
    color: $cta-color;
    font-weight: bold;
  }

  #datasetexampletile {
    padding: 0;
    margin-bottom: 1em;
  }

    .edit {
      float: right;
      padding: 0.25em 1em;
      margin: 2em auto 1em auto;
      display: inline-block;
      color: $text-color;
      border: solid 2px $databutton-color;
      border-radius: 2px;
      text-decoration: none;
        &:hover {
        background-color: $grey-color;
      }
        h4 {
        text-transform: lowercase;
        padding: 0;
        margin: 0 auto;
        border-radius: 2px;
        text-align: center;
        display: inline;
      }
  }

  a.contributedby {
    margin-left: 0.5em;
  }

  .iveused {
    h4 {
      margin-top: 1em;
    text-transform: none;
    background-color: $databutton-color;
    &:hover {
      background-color: $text-color;
    }
    color: white;
    padding: 0.5em;
    border-radius: 2px;
    float: left;
    display: inline;
  }
  }

.howrate {
    margin-top: 1em;
    }

    .fa-thumbs-up {
      margin-right: 0.5em;
      color: #91C565;
    }
    .fa-thumbs-down {
      color: #B02727;
    }

    .rate h1 {
      text-align: left;
    }

  .datafiles {
    padding: 0 0em 1em 1em;
    float: left;
    max-width: 28em;
    margin-bottom: 1em;
    i {
    font-size: 1.5em;
    margin-right: 0.25em;
    }
    a.filelink {
    border: solid 2px $databutton-color;
    text-align: left;
    margin-bottom: 0em;
    padding: 0 0.5em;
    border-radius: 2px;
    width: 100%;
    display: block;
    text-decoration: none;
      &:hover {
        background-color: $grey-color;
      }
    }
    .filewrapper {
      margin-top: 0em;
      margin-bottom: 1em;
    }
    h4 {
    text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

  table {
    color: #313131;
      background-color: white;
  }

  th {
    font-weight: normal;
  }
}

  .additional h4 {
    text-transform: uppercase;
  }


  .additional {
    padding: 0 1em 1em 1em;
    float: left;
    margin-bottom: 1em;
  }

  .example {
    height: 12em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .exampleimage img {
    float: left;
    width: 100%;
    max-height: 12em;
  }

 h4 {
    margin-bottom: 1em;
  }

  .exampledataset {
    span {
      color: white;
    }
  }

  .add {
      float: right;
      padding: 0.25em 1em;
      margin: 2em auto 1em auto;
      display: inline-block;
      color: $text-color;
      border: solid 2px $databutton-color;
      border-radius: 2px;
      text-decoration: none;
        &:hover {
        text-decoration: none;
        background-color: $grey-color;
      }
        h4 {
        text-transform: lowercase;
        padding: 0;
        margin: 0 auto;
        border-radius: 2px;
        text-align: center;
        display: inline;
      }
    }

/* add dataset page */

.addl {
  margin-top: 2em;
}

#save {
    float: right;
    margin-bottom: 2em;
  }

.addl a {
  display: block;
  float: right;
}

input[type=text] {
    background-color: $background-color;
}

textarea[class="form-control"] {
  background-color: $background-color;
}

select[class="form-control"]{
    background-color: $background-color;
}

/* Resource Page */

.resourceintro {
  margin-top: 1em;
  background-color: $background-color;
  padding: 1em;
}

 .exampleimage {
    float: left;
    width: 100%;
  }


.question {
  padding: 1em;
  h3 {text-align: center;}
}

p.resourceanswer {
  padding: 1em;
  background-color: $background-color;
  width: 100%;
  float: none;
}

/* contributor page */

.editcol {
.edit {
      float: right;
      padding: 0.25em 1em;
      margin: 2em auto 1em auto;
      display: inline-block;
      color: $text-color;
      border: solid 2px $databutton-color;
      border-radius: 2px;
      text-decoration: none;
        &:hover {
        background-color: $grey-color;
      }
        h4 {
        text-transform: lowercase;
        padding: 0;
        margin: 0 auto;
        border-radius: 2px;
        text-align: center;
        display: inline;
      }
  }
}

.description a {
  text-decoration: none;
  max-width: 80%;
}

.orgexample {
  margin-top: 1em;
  width: 100%;
}

.orgsearch input {
  margin-bottom: 1em;
}

.exmpl {
  margin-top: 1em;
}

.orgsearch {
  clear: both;
}


.project {
  margin-top: 1em;
}

  /* Preset */

  .organization-thumbnail img {
    width: 64px;
  }

  .list-group-item-truncate {
    display: inline-block;
    line-height: 1;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .resource-description {
    font-size: 90%;
  }

  .select2 {
    margin-bottom: 10px;
  }

  .datasets-count {
    display: inline-block;
  }

  .add-dataset-btn {
    margin-top: 15px;
  }

  /* Hidden from guests */
  .user-issue,
  .admin-only {
    display: none;
  }

  .resource-details,
  .show-resource-details {
    display: none;
  }

  .show-resource-details {
    font-size: 80%;
  }

  .user-issue {
    color: red;
  }

  [data-component~=view-switcher] [data-hook~=view] {
    display: none;
  }

  .homepage-categories,
  .theme-gallery {
    text-align: justify;
  }

  /* allows last line of categories to be justify aligned */
  .homepage-categories:after,
  .theme-gallery:after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  .homepage-categories .thumbnail {
    display: inline-block;
    min-width: 120px;
    text-align: center;
    border: none;
    padding: 10px;
  }

  .homepage-categories .thumbnail img {
    height: 80px;
  }

  .homepage-categories a {
    color: #CD4BBC;
  }

  .theme-gallery .panel {
    display: inline-block;
    max-width: 250px;
    text-align: center;
  }

  .theme-gallery .panel img {
    width: 100%;
  }

  .theme-gallery .panel-primary {
    border-width: 5px;
  }
