<div class = "row">
<div class = "constructionbanner"> 

<h1> We'll be done with PANDA very, very soon!

Check back for updates. Click <a href = "https://github.com/open-austin/data-portal/issues?q=is%3Aopen+is%3Aissue+label%3Abug">here</a> to view the issues we're still having! <br><br>

And <a href = "mailto:amaliebarras@gmail.com"> let us know </a> if you want to help!
<br><br>
Love, <br>Open Austin Community Data Portal Team

<style>
.constructionbanner {
  background-color: tomato;
  padding: 4em;
}

.constructionbanner h1 {
  	color: #fff;
}

.constructionbanner a {
	color: #ffff00;
}
</style>

</h1>
</div>
</div>