<div class = "row">
<div class = "constructionbanner"> 

<h4> Welcome to version 1 of PANDA! Please let us know if you have any issues or suggestions <a href = "https://github.com/open-austin/data-portal/issues?q=is%3Aopen+is%3Aissue+label%3Abug">here!</a> <br><br>
Love, <br>Open Austin Community Data Portal Team

<style>
.constructionbanner {
  background-color: tomato;
  padding: 2em 6em;
}

.constructionbanner h4 {
  	color: #fff;
}

.constructionbanner a {
	color: #bada55;
}
</style>

</h4>
</div>
</div>