<div class = "row">
<div class = "constructionbanner"> 

<h4> Thanks for visiting Panda! We've decided to adopt the amazing new open data platform, data.world, for our community open data hosting. Check out the full story <a href ="https://www.open-austin.org/projects/community-data-portal.html">here</a> and be sure to visit our <a href = "https://data.world/openaustin">organization page</a> on data.world.

If there's something you'd like to see from the PANDA team, let us know <a href = "https://github.com/open-austin/data-portal/issues?q=is%3Aopen+is%3Aissue+label%3Abug">here!</a> <br><br>
Love, <br>Open Austin Community Data Portal Team

</h4>

<style>
.constructionbanner {
  background-color: tomato;
  padding: 2em 6em;
}

.constructionbanner h4 {
  	color: #fff;
}

.constructionbanner a {
	color: #bada55;
}
</style>


</div>
</div>