---
layout: default
---


<div data-component="view-switcher">
  <div class="row orgdescription" data-hook="view" data-view="display">
    {% if page.logo and page.logo != empty %}
    <div class="col-sm-6">
      <a href="{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
    </div>
    <div class="col-sm-6">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
      <h1>
        {{ page.title }}
        <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
      </h1>
      <p>{{ page.description }}</p>
    </div>

    <div class="col-sm-12">
      <div data-component="datasets-list" data-organization="{{ page.title | slugify }}">
        <h3 class="datasets-count" data-hook="datasets-count"></h3>
        <input type="text" data-hook="search-query" placeholder="Search..." class="search form-control">
        <div data-hook="datasets-items"></div>
      </div>
    </div>
  </div>

  <div class="row" data-hook="view" data-view="edit">
    <div class="col-sm-12">
      {% include organization-form.html organization=page %}
    </div>
    <div class="col-sm-2">
      <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
    </div>
  </div>

</div>


<!--old code -->
<!-- 
<div class="row" data-hook="view" data-view="display">
    <div class = "col-xs-12">
        <div class = "row">
            <div class = "col-xs-10">
            <h2>
              {{ page.title }}
            </h2>
            </div>
            <div class = "col-xs-2 editcol">
            <a href="?view=edit" class="pull-right btn btn-default admin-only">Edit</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div data-component="view-switcher">
                <div data-hook="view" data-view="display">
                    <a href="{{ site.baseurl }}/images/{{ page.logo }}" class="thumbnail"><img src="{{ page.logo }}" alt="{{ page.title }} logo"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class = "description">
                <p>{{ page.description }}</p><br>
                <a href = "mailto:{{ page.email }}"><h4><i class="fa fa-envelope desci" aria-hidden="true"></i>Email</h4></a>
                <a href = "{{ page.github }}"><h4><i class="fa fa-github desci" aria-hidden="true"></i>  Github</h4></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="orgexample">
                <div class = "row">
                    <div data-component="datasets-list" data-organization="{{ page.title | slugify }}">
                        <h3 class="datasets-count" data-hook="datasets-count"></h3>
                        <input type="text" data-hook="search-query" placeholder="Search..." class="search form-control">
                        <div data-hook="datasets-items">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" data-hook="view" data-view="edit">
        <div class="col-sm-8 col-sm-offset-2">
            {% include organization-form.html organization=page %}
        </div>
        <div class="col-sm-2">
            <a href="{{ site.baseurl }}{{ page.url }}" class="btn btn-default pull-right">Cancel</a>
        </div>
    </div>

</div>

 -->